In [1]:
def add(a,b):
    return a+b
result=add(5,10)
print(result)

15

In [3]:
def greet(name,age):
    print(f"Hello, {name}! you are {age} years old.")
greet(name="Alice",age=25)

Hello, Alice! you are 25 years old.

In [5]:
def multiply(a,b=2):
    return a*b
result=multiply(5)
print(result)

10

In [11]:
def print_info(name,age,country):
    print(f"Name: {name}, Age: {age}, Country: {country}")
print_info("Alice",25,"USA")

Name: Alice, Age: 25, Country: USA

In [13]:
#Convert the string `"42"` to an integer and assign it to a variable `num`. Print the value and type of `num`.
a="42"
b=int(a)
print(b)
print(type(b))

42
<class 'int'>

In [15]:
#Define a tuple with three elements: `"cat"`, `"dog"`, and `"rabbit"`. Print the third element.
t=("cat","dog","rabbit")
print(t[2])

rabbit

In [17]:
#Swap the values of two variables, `a` and `b`, without using a temporary variable.
def swap(a,b):
    a=a+b
    b=a-b
    a=a-b
    print(a,b)
swap(5,6)

6 5

In [19]:
#Write a program that takes your age as input and prints a message: `"You are [age] years old."`
def tes(age):
    print(f"You are {age} years old.")
tes(10)

You are 10 years old.

In [23]:
#Calculate the product of two numbers entered by the user and print the result.
def tes(a,b):
    return a*b
a=int(input()) 
b=int(input())
tes(a,b)

 2
 3

6

In [25]:
#Format the variables `item = "book"` and `price = 25.99` into a sentence.
def tes(item,price):
    print(f'The {item} costs {price}.')
tes("book",25.99)

The book costs 25.99.

In [27]:
#Write a function that takes an integer as input and returns `"Positive"`, `"Negative"`, or `"Zero"`.
def tes(a):
    if a>0:
        print("Positive")
    elif a<0:
        print("negative")
    else:
        print("Zero")
a=int(input())
tes(a)

 6

Positive

In [29]:
#Create a program that checks if a user-input number is even or odd.
a=int(input())
if a%2==0:
    print(f"{a} is even")
else:
    print(f"{a} is odd")

 -9

-9 is odd

In [31]:
#Write a program that determines if a year entered by the user is a leap year.
a=int(input())
if (a % 4 == 0 and a % 100 != 0) or (a % 400 == 0):
    print(f"{a} is a leap year")
else:
    print(f"{a} is not a leap year")

 2024

2024 is a leap year

In [33]:
#Print the numbers from 1 to 5 using a `for` loop.
for i in range(1,5):
    print(i)

1
2
3
4

In [1]:
#Write a `while` loop that calculates the sum of numbers from 1 to 20.
sum = 0
num = 1
while num <= 20:
    sum += num
    num += 1
print(sum)

210

In [3]:
# Print each character of the string `"Hello"` using a loop.
s="Hello"
for i in s:
    print(i)

H
e
l
l
o

In [5]:
#Create a list of your favorite fruits and print the second fruit on the list.
f=["Orange","Guava","Berry","Apple"]
print(f[1])

Guava

In [9]:
#Add the number 7 to a set. Add the number 7 again and observe the set's behavior.
m = set()
m.add(7)
print("After adding 7:", m)
m.add(7)
print("After adding 7 again:", m)

After adding 7: {7}
After adding 7 again: {7}

In [11]:
# Write a function that takes a list as input and returns a new list without duplicate elements.
def dup(l):
    return list(set(l))
dup([1,1,2,3,4,5,4,3,2])

[1, 2, 3, 4, 5]

In [13]:
#Create a tuple containing your birth year, birth month, and birth day.
t=(2003,10,17)
print(t)

(2003, 10, 17)

In [1]:
#Define a function `calculate_average` that takes a list of numbers as input and returns their average.
def calculate_average(l):  
    if len(l) == 0:  
        return 0  
    return sum(l) / len(l) 
l = [1, 2, 3, 4, 5]  
r = calculate_average(l)  
print(r)

3.0

In [3]:
#Write a function `power` that takes two arguments, `base` and `exponent`, and calculates `base` raised to the power of `exponent`.
def power(base,exponent):
    return base**exponent
power(2,3)

8

In [9]:
#Define a function that takes any number of strings as arguments and returns them concatenated.
def tes(*a):
    return ''.join(a)
tes("H","e","l","l","o")

'Hello'

In [1]:
#Check if the word `"apple"` is present in the string `"I like apples and oranges"`.
text = "I like apples and oranges"
word = "apple"
is_present = word in text
print(is_present)

True

In [5]:
#Count the occurrences of the letter `"i"` in the string `"Mississippi"`.
t="Mississippi"
l="i"
c=t.count(l)
print(c)

4

In [9]:
#Reverse the string `"Python"` using slicing.
s="Python"
rev=s[::-1]
print(rev)

nohtyP

In [13]:
#Create a dictionary representing a car with keys `"make"`, `"model"`, and `"year"`. Print the car's model.
car = {"make": "Toyota","model": "Camry","year": 2020}
print(car["model"])

Camry

In [15]:
#Add a new car to the dictionary, modify the year of an existing car, and retrieve the make of a specific car.
cars = {"car1": {"make": "Toyota","model": "Camry","year": 2020},
         "car2": {"make": "Honda","model": "Civic","year": 2019}}
cars["car1"]["year"] = 2021
c2= cars["car2"]["make"]
print("\nUpdated cars dictionary:")
print(cars)
print("\nMake of car2:",c2)

Updated cars dictionary:
{'car1': {'make': 'Toyota', 'model': 'Camry', 'year': 2021}, 'car2': {'make': 'Honda', 'model': 'Civic', 'year': 2019}}

Make of car2: Honda

In [1]:
#Write a Python program that takes a list of numbers as input and prints the maximum and minimum values from that list.
numbers=[10,5,8,15,3]
print(max(numbers))
print(min(numbers))

15
3

In [5]:
#Write a Python program that generates a list of even numbers from 2 to 10 using the range() function.
l=[i for i in range(2,11) if i%2==0]
l

[2, 4, 6, 8, 10]

In [9]:
#Write a Python program that takes a list of numbers as input, sorts the list in ascending order using the sorted() function, and prints the sorted list.
def sort_numbers():  
    input_numbers = input("Enter a list of numbers separated by commas: ")   
    number_list = [num for num in input_numbers.split(',')]  
    sorted_list = sorted(number_list)  
    print("Sorted list:", sorted_list)  
sort_numbers()

Enter a list of numbers separated by commas:  1,2,8,7,6,5

Sorted list: ['1', '2', '5', '6', '7', '8']

In [11]:
#Write a Python program that takes a string as input and prints the length of the string using the len() function.
text="Hello, World!"
print(len(text))

13

In [13]:
#Write a Python program that takes a number as input and prints its absolute value using the abs() function.
num=-10
print(abs(num))

10

In [19]:
#Write a Python program that takes a list of boolean values as input and checks if all values are True using the all() function. Then, check if at least one value is True using the any() function.
def check_boolean_list(boolean_list):
    all_true = all(boolean_list)
    any_true = any(boolean_list)
    print(f"All values are True: {all_true}")
    print(f"At least one value is True: {any_true}")
bool_list = [True, True, False, True]
check_boolean_list(bool_list)

All values are True: False
At least one value is True: True