In [1]:
s="this is My First Python programming class and i am learNING python string and its function"

In [5]:
s[0:300:3]#Try to extract data from index one to index 300 with a jump of 3

'tssyityopgmncsa alrNph rgni ni'

In [7]:
s[::-1]#Try to reverse a string without using reverse function

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [13]:
s1=s.upper()# string in uppercase
s1.split()#split a string

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [15]:
s.lower()#try to convert the whole string into lower case

'this is my first python programming class and i am learning python string and its function'

In [17]:
s.capitalize()#Try to capitalize the whole string

'This is my first python programming class and i am learning python string and its function'

In [ ]:
#isalnum means if the given thing is alphabet or numeric if yes then it returns true.isalpha means it given thing is alphabet or not,if yes then it returns true

In [19]:
s.expandtabs()

'this is My First Python programming class and i am learNING python string and its function'

In [21]:
s2="  Aimnxt     "
s2.lstrip()

'Aimnxt     '

In [23]:
s2.rstrip()

'  Aimnxt'

In [25]:
s2.strip()

'Aimnxt'

In [29]:
s.replace('a','e')

'this is My First Python progremming cless end i em leerNING python string end its function'

In [35]:
#The center() function in Python is used to center-align a string  by padding it with a specified character (default is a space) on both sides. The total width of the returned string is specified by the user.
s2.center(30,'*')

'********  Aimnxt     *********'

In [ ]:
#compiler:Translates the entire code at once.converts into machine code.
#interpretor:Executes code line by line.

In [ ]:
#Python first converts the code from high level language to machine code.Then it is executed line by line at the time of execution.

In [ ]:
Ecommerce website

In [1]:
a=int(input())
b=int(input())
if a<b:
    print("The largest:",b)
elif a>b:
    print("The largest:",a)
else:
    print("Both are equal")

 5
 6

The largest: 6

In [3]:
character = input("Enter a character: ").lower()
if character in ('a', 'e', 'i', 'o', 'u'):
    print("Vowel")
else:
    print("Consonant")

Enter a character:  a

Vowel

In [5]:
def is_leap(year):
    return (year%4==0) and (year%100!=0) or (year%400==0)
year=int(input("Enter the year"))
if is_leap(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter the year 2024

2024 is a leap year

In [11]:
age=int(input("Enter the age:"))
if age>=18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter the age: 18

Eligible to vote

In [13]:
def calc(marks):
    if marks>=90:
        grade='A'
    elif 75<=marks<90:
        grade='B'
    elif 50<=marks<75:
        grade='C'
    else:
        grade='F'
    return grade
def check(marks):
    if marks%2==0:
        return "Even"
    else:
        return "Odd"
marks=int(input("Enter marks:"))
grade=calc(marks)
eve_odd=check(marks)
print(f"Studen's grade is {grade}")
print(f"Student's marks are {eve_odd}")

Enter marks: 99

Studen's grade is A
Student's marks are Odd

In [15]:
a=int(input())
b=int(input())
c=int(input())
if a>=b and a >= c:
    print("max is",a)
elif b>=a and b>=c:
    print("max is",b)
else:
    print("max is",c)

 8
 9
 6

max is 9

In [17]:
predefined_password = "Henry123"
user_password = input("Enter the password: ")
if user_password == predefined_password:
    print("Access Granted")
else:
    print("Access Denied")

Enter the password:  jim

Access Denied

In [21]:
amount=int(input())
bill=0
if amount>1000:
    bill=amount-amount*0.1
    print(bill)
else:
    bill=amount
    print(bill)

 2000

1800.0

In [23]:
s1=int(input())
s2=int(input())
s3=int(input())
if s1==s2==s3:
    print("Equilateral")
elif s1==s2 or s2==s3 or s3==s1:
    print("Isosceles")
else:
    print("Scalene")

 6
 9
 6

Isosceles

In [25]:
a=int(input())
if a%5==0 and a%11==0:
    print(f"{a} is divisible by 5 and 11")
else:
    print(f"{a} is not divisible by 5 and 11")

 55

55 is divisible by 5 and 11

In [27]:
total_classes = int(input("Enter the total number of classes: "))
attended_classes = int(input("Enter the number of classes attended: "))
attendance_percentage = (attended_classes / total_classes) * 100
print(f"Your attendance is: {attendance_percentage:.2f}%")
if attendance_percentage >= 75:
    print("You are eligible to take the exam.")
else:
    print("You are not eligible to take the exam.")

Enter the total number of classes:  89
Enter the number of classes attended:  79

Your attendance is: 88.76%
You are eligible to take the exam.

In [29]:
temp=int(input("Enter temp:"))
if temp>30:
    print("It's hot outside. Stay hydrated.")
elif 15<=temp<31:
    print("The weather is pleasant.")
else:
    print("It's cold outside. Wear a jacket.")

Enter temp: 34

It's hot outside. Stay hydrated.

In [31]:
n=int(input())
if 1<=n<=100:
    print("Number within range of 1 and 100")
else:
    print("Not in range")

 56

Number within range of 1 and 100

In [33]:
def calc(m,n,op):
    if op=='+':
        print(m+n)
    elif op=='-':
        print(m-n)
    elif op=='*':
        print(m*n)
    elif op=='/':
        if n==0:
            print("invalid")
        else:
            print(m/n)
    else:
        print("invalid")
m=int(input())
n=int(input())
op=input()
c=calc(m,n,op)

 6
 9
 +

15

In [35]:
n=int(input("Enter the year"))
if n%2==0:
    print("even")
else:
    print("odd")

Enter the year 2022

even

In [37]:
l=[1,2,3,4,5]#Create a list of five integers. Remove the third element from the list and print the updated list.
l.pop(2)
print(l)

[1, 2, 4, 5]

In [39]:
l=[1,2,10,3,10]#Create a list of five integers. Remove the first occurrence of the number 10 from the list and print the result.
l.remove(10)
print(l)

[1, 2, 3, 10]

In [41]:
l=[6,2,9]
l=l+[5,10,15]#Create a list and add the numbers 5, 10, and 15 to it. Print the final list
l

[6, 2, 9, 5, 10, 15]

In [43]:
l=["Henry","Rudra","Arjun"]#Create a list with three strings. Use the append method to add a new string to the end of the list.
l.append("Alex")
l

['Henry', 'Rudra', 'Arjun', 'Alex']

In [45]:
l= [5, 10, 15, 25, 35, 25, 45]
i = l.index(25)#Create a list of numbers and find the index of the first occurrence of the number 25 in the list. Print the index.
print(i)

3

In [47]:
l=["apple","banana","custard","guava"]
i=l.index("banana")#Create a list of strings and find the index of the string "banana". Print the index.
i

1

In [49]:
l=["apple","banana","apple","orange","mango"]#Create a list of numbers and count how many times the number 3 appears in the list. Print the result.
i=l.count("apple")
i

2

In [51]:
l=[4,6,9,8,7]#Create a list of integers and find the maximum value in the list. Print the result.
max(l)

9

In [53]:
l=[6.5,3.5,9.7,5.9,8.9]#Create a list of floating-point numbers and find the largest number. Print the result.
i=max(l)
i

9.7

In [55]:
l=[5,9,8,6,3]#Create a list of integers and find the smallest value in the list. Print the result.
i=min(l)
i

3

In [57]:
l=[5,9,2,3,7]#Create a list of integers and sort it in ascending order. Print the sorted list.
l.sort()
l

[2, 3, 5, 7, 9]

In [59]:
l=[5,7,9,8,6]#Create a list of strings and sort it in descending alphabetical order. Print the sorted list.
l.sort(reverse=True)
l

[9, 8, 7, 6, 5]

In [61]:
n=[4,9,5,7,6]#Create a list of numbers. Extract the first three elements using slicing and print them.
i=n[:3]
i

[4, 9, 5]

In [63]:
w=["apple","banana","cherry","date","fig","grape"]#Create a list of strings. Extract all elements except the last two using slicing and print the result.
i=w[:-2]
print(i)

['apple', 'banana', 'cherry', 'date']